* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(240, 240, 240);
    font-family: 'Merriweather', serif;
}

/* navigation */
nav {
    background-color: rgb(50, 50, 50);
    padding: 1rem 0;
    margin-bottom: 1rem;
}
nav ul {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    list-style: none;
}
nav a {
    color: rgb(240, 240, 240);
    text-decoration: none;
    margin: 0 1rem;
}
@media (min-width: 35rem) {
    nav a:hover {
        text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px rgba(255,255,255,0.8),0 -4px 15px rgba(255,255,255,0.5);
    }
}

/* Homepage */
/* Header */
h1 {
    color: rgba(200, 200, 200, 1);
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 0.5px rgba(255,255,255,0.8),0 -4px 15px rgba(255,255,255,0.5);

    text-decoration: underline;
    text-decoration-style: dotted;
}

/* Grid layout  */
.galerie {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 1rem;
    grid-auto-flow: dense;
}
.galerie .item2 {
    grid-row: span 2;
    grid-column: span 2;
}
.galerie div {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.galerie div p {
    font-family: 'Roboto Mono', monospace;
    position: relative;
    bottom: 45px;
    left: 5%;
    font-size: large;
    margin-top: 0.5rem;
    color: white;
}
img {
    max-width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 25px;

    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    box-shadow: 10px 10px 5px #ccc;

    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

@media (min-width: 760px) {
    .galerie {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
    img:hover {
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.5);
        -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.5);
        -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.5);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.5);
    }
    .galerie div:hover {
        transform: scale(1.025);
    }
}

/* Detail-List */
.detail-div {
    margin: 2rem;
    margin-top: 5rem;

    display: flex;
}
hr {
    margin: 5rem auto 0rem auto;
    width: 90%;
}
.detail-div img {
    max-width: 35vw;
    min-width: 35vw;
    max-height: auto;
}
.detail-div p {
    font-size: 1.2rem;
    padding: 1rem 1rem;
}